Python Data Types:

Integers: 3, 20, 256
Floating Point: 200.0, 2156.6
Strings: "Manish", "India"
Lists: [3, 5.0, "Country", "607"]
Dictionaries: {"key": "value"}
Tuples: (10, "string", 200.3)
Sets: Unordered Set of unique objects{"a", "b"}
Boolean: True, False

In [1]:
2+1

3

In [2]:
2-1

1

# Modulo

In [3]:
7 / 4

1.75

In [4]:
7 % 4

3

In [5]:
7 // 4

1

# Exponentiation

In [6]:
2 ** 3

8

# Variables

In [10]:
type(my_dogs)

int

In [11]:
total = 5.0

In [13]:
type(total)

float

In [9]:
my_dogs = 2
my_cat = 3

total = my_dogs + my_cat
print(total)

5

# Strings

In [14]:
"Hello"

'Hello'

In [15]:
'Hello'

'Hello'

In [16]:
"My name is manish"

'My name is manish'

In [17]:
len("My name is manish")

17

In [18]:
mystring = "hello world"

In [19]:
mystring[0]

'h'

In [20]:
mystring[2]

'l'

In [21]:
mystring[-4]

'o'

In [22]:
mystring[-1]

'd'

In [24]:
for i in range(len(mystring)):
    print(mystring[i])

h
e
l
l
o

w
o
r
l
d

# Index Slicing

In [25]:
mystring[:2]

'he'

In [26]:
mystring[:-3]

'hello wo'

In [27]:
mystring[3:]

'lo world'

In [28]:
mystring[3:6]

'lo '

In [29]:
mystring[::]

'hello world'

In [30]:
mystring[::2]

'hlowrd'

In [31]:
mystring[::3]

'hlwl'

In [33]:
mystring[::-1]  # reverse string

'dlrow olleh'

# Immutability

In [34]:
name = "Manish"

In [35]:
name[0] = "H"

TypeError: 'str' object does not support item assignment

In [36]:
last_letters = name[1:]

In [37]:
name = "nams " + last_letters

In [38]:
name

'nams anish'

In [39]:
"2" + "3"

'23'

In [40]:
"2" + 3

TypeError: must be str, not int

In [41]:
name.upper()

'NAMS ANISH'

In [42]:
name.upper

In [43]:
name.split()

['nams', 'anish']